﻿@model Lab5_Entity.DistributedBooks

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DistributedBooks</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.distributionDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.distributionDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.realReturDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.realReturDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.plannedReturDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.plannedReturDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Books.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Books.title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Readers.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Readers.name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
